* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', 'Open Sans', sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
    padding: 1rem;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: Lato;
    color: #364f6b;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom: 1px solid #364f6b;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background: #3f72af;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;

}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    line-height: 2rem;
}

#logo img {
    margin-top: 4.5rem;
    max-height: 300px;
    padding-right: 5rem;

}

#ringkasanCerita img {
    margin-top: 3.5rem;
    margin-left: 4rem;
    border: 2px solid black;
    border-radius: 10%;
    max-height: 450px;
    max-width: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #364f6b;
}


h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #3f72af;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #fc5185;
    text-decoration: none;
}

a.tbl-pink {
    background: #fc5185;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #3f72af;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu {
    width: 20%;
    margin: 0 auto;

}

.kartu img {
    width: 80%;
    border-radius: 50%;
}

.kartu p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #364f6b;
}

.partner-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-partner {
    width: 20%;
    margin: 0 auto;
}

.kartu-partner img {
    width: 150px;
    border-radius: 50%;
}

#contact {
    background: #dedede;
    padding: 50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
    border-top: 1px solid #364f6b;
    background-color: #c4c3c3c3;
}

/* HALAMAN PROFIL DESA */

h1 {
    font-family: 'Lato';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

.judul{
    justify-items: center;
    text-align: center;
}

#peta img {
    margin-left: 17.5rem;
}

#pekerjaan img {
    width: 550px;
    border: 1px solid black;
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
    margin-left: 2.5rem;
    margin-top: 4rem;
}

#luasWilayah img {
    width: max-content;
    border: 1px solid black;
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
    margin-right: 3rem;
}

#kependudukan {
    width: 750px;
    height: auto;
    border: 1px solid black;
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
    margin-left: 10rem;
}

#piramidaPenduduk {
    width: 750px;
    height: auto;
    border: 1px solid black;
    border-radius: 4%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
    margin-left: 9rem;
}

#fasilitas {
    border: 1px solid black;
    border-radius: 4%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
    margin-left: 12rem;
}

/* HALAMAN CERITA RAKYAT */
#wayang {
    margin-left: 14.5rem;
    border-radius: 5%;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#wrapperCerita {
    background-color: #A79277;
    opacity: 75%;
    border-radius: 5%;
    padding: 3rem;
    margin-top: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}

#cerita {
    color: #FFF2E1;
    font-size: larger;
    font-weight: 400;
}

/* Tombol Ganti Bahasa Halaman cerita */
#toggleLanguage {
    position: fixed;
    bottom: 2vh;
    right: 2vh;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    z-index: 1000;
}

#toggleLanguage:hover {
    background-color: #45a049;
    /* Darker green on hover */
}


/* HALAMAN ADMIN */
#syaratAdmin {
    margin-left: 15rem;
}

#alurAdministrasi {
    max-width: 375px;
    max-height: 300px;
    margin-top: 9.5rem;
    margin-right: 4rem;
}

#alurAdministrasi {
    margin-right: 3rem;
}


@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: left;
        margin-left: 2rem;
    }

    nav .menu {
        width: 100%;
        margin-right: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .kartu {
        width: 50%;
    }

    .kartu-partner {
        width: 50%;
    }

    #logo img {
        max-height: 300px;
        max-width: fit-content;
        display: block;
        margin-left: 15.5rem;
    }
    /* HALAMAN PROFIL DESA */
    h1 {
        font-family: 'Lato';
        font-weight: 700;
        font-size: 40px;
        margin-left: 15rem;
    }

    #peta img {
        width: 60%;
        margin-left: 11rem;
    }

    #pekerjaan img {
        width: 575px;
        margin-left: 4.5rem;
    }

    #luasWilayah img {
        width: 575px;
        margin-left: 4.5rem;
    }

    #kependudukan {
        width: 725px;
        margin-left: 0.5rem;
    }

    #piramidaPenduduk {
        width: 775px;
        margin-left: 0.5rem;
    }

    #fasilitas {
        width: 675px;
        margin-left: 6rem;
    }
    .kartu-partner img{
        margin-left: 5.5rem;
        margin-bottom: 1rem;
    }

    /* ceritaRakyat */
    #wayang {
        margin-left: 8rem;
    }

    /* HALAMAN ADMIN */
    #alurAdministrasi {
        margin-left: 15rem;
    }

    #syaratAdmin {
        margin-left: 8rem;
    }

    #kk img {
        margin-left: 10rem;
        margin-bottom: 0;
    }

    #spmk img {
        margin-left: 10rem;
    }

    #aktaLahir img {
        margin-left: 14rem;
    }

    #dtks img {
        margin-left: 15.8rem;
    }

    #kis img {
        margin-left: 14rem;
    }
    .footer{
        justify-content: center;
    }
    .footer-section{
        
        margin: 0 2rem;
    }
    iframe {
        width: 130%;
        height: auto;
    }
}

@media screen and (max-width: 750px) {
    /* HALAMAN PROFIL DESA */
    #peta img {
        width: 60%;
        margin-left: 9rem;
    }

    #pekerjaan img {
        width: 475px;
        margin-left: 4.5rem;
    }

    #luasWilayah img {
        width: 475px;
        margin-left: 4.5rem;
    }

    #kependudukan {
        width: 575px;
        margin-left: 1.5rem;
    }

    #piramidaPenduduk {
        width: 575px;
        margin-left: 1.5rem;
    }

    #fasilitas {
        width: 575px;
        margin-left: 2rem;
    }
    .kartu-partner img{
        justify-content: center;
        margin-bottom: 1rem;
    }

    /* CERITA RAKYAT */
    #wayang {
        max-width: 500px;
        margin-left: 5.3rem;
    }

    /* HALAMAN ADMIN */
    #alurAdministrasi {
        margin-left: 9.5rem;
    }

    #syaratAdmin {
        margin-left: 2.5rem;
    }

    #kk img {
        margin-left: 3rem;
    }

    #spmk img {
        margin-left: 3rem;
    }

    #aktaLahir img {
        margin-left: 9rem;
    }

    #dtks img {
        margin-left: 10rem;
    }

    #kis img {
        margin-left: 9rem;
    }

    #about  {
        display: grid;
    }

}

@media screen and (max-width : 450px) {
    .logo a {
        display: block;
        width: 60%;
        text-align: left;
        margin-left: 0;
        line-height: normal;
    }

    #logo img {
        max-height: 300px;
        max-width: fit-content;
        display: block;
        margin-left: 5.5rem;
    }

    .partner-list {
        margin-left: 1rem;
    }

    .kartu-partner {
        margin-top: 1rem;
    }

    .kartu img {
        margin-left: 1rem;
    }

    /* HALAMAN PROFIL DESA */
    h1 {
        font-family: 'Lato';
        font-weight: 700;
        font-size: 40px;
    }

    #peta img {
        width: 60%;
        margin-left: 5rem;
    }

    #pekerjaan img {
        width: 75%;
        margin-left: 2.5rem;
    }

    #luasWilayah img {
        width: 75%;
        margin-left: 2.5rem;
    }

    #kependudukan {
        width: 75%;
        margin-left: 2.5rem;
    }

    #piramidaPenduduk {
        width: 75%;
        margin-left: 2.5rem;
    }

    #fasilitas {
        width: 75%;
        margin-left: 2.5rem;
    }



    /* CERITA RAKYAT */
    #wayang {
        max-width: 300px;
        margin-left: 3rem;
    }

    #ringkasanCerita img {
        width: 70%;
        margin-left: 3.5rem;
    }

    /* HALAMAN ADMIN */
    #alurAdministrasi {
        margin-left: 0rem;
    }

    #syaratAdmin {
        margin-left: 1rem;
    }

    #kk img {
        width: 300px;
        margin-left: 1rem;
        line-height: 0;
    }

    #spmk img {
        width: 250px;
        margin-left: 2.5rem;
    }

    #aktaLahir img {
        width: 250px;
        margin-left: 2.5rem;
    }

    #dtks img {
        width: 250px;
        margin-left: 2.5rem;
    }

    #kis img {
        width: 300px;
        margin-left: 1.3rem;
    }

    /* BAGIAN FOOTER */
    .wrapper {
        width: auto;
    }
    .partner-list{
        margin-left: 0;
        justify-content: center;
    }
    .partner-list img{
        margin-left: 1.2rem;
    }
    .kartu-partner{
        justify-content: center;
    }

    .footer {
        display: grid;
        margin: 10px;
    }

    .footer-section {
        margin-left: 2rem;
    }

    iframe {
        width: 400%;
        height: auto;
    }
}


.tombol-menu {
    position: absolute;
    top: 2.8rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    z-index: 1000;
}

.tombol-menu .garis {
    height: 3px;
    background-color: #3f72af;
}


@media screen and (max-width: 991.98px) {
    .logo a {
        font-size: 35px;
        font-weight: 800;
        display: inline;
    }

    .tombol-menu {
        display: flex;
    }

    nav .menu {
        display: none;
    }

    nav .menu.active {
        display: flex;
    }

    nav ul li {
        width: 100%;
        border-bottom: 1px solid #333333;
    }
}